@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#post{
    width: 450px;
    height: 320px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}
#icon{
    font-size: 60px;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
}
